USE [NHAPXUATMAYTINH]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 6/20/2024 9:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[IDCHITIETPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[IDPHIEUNHAP] [int] NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[IDSANPHAM] [int] NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[SOLUONGDUTRU] [int] NULL,
	[SOLUONGTHUCTE] [int] NULL,
 CONSTRAINT [PK__CHITIETP__62B89B521F3A30BA] PRIMARY KEY CLUSTERED 
(
	[IDCHITIETPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 6/20/2024 9:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[IDCHITIETPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[IDPHIEUXUAT] [int] NULL,
	[IDSANPHAM] [int] NULL,
	[TENSANPHAM] [nvarchar](50) NULL,
	[DONVITINH] [nvarchar](50) NULL,
	[SOLUONGXUAT] [int] NULL,
 CONSTRAINT [PK__CHITIETP__1964D693C34940F1] PRIMARY KEY CLUSTERED 
(
	[IDCHITIETPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/20/2024 9:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[IDPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[NGAYDUTRU] [datetime] NULL,
	[TENNHANVIENGIAO] [nvarchar](50) NULL,
	[TENNHACUNGCAP] [nvarchar](50) NULL,
	[NGUOILAPPHIEU] [nvarchar](50) NULL,
 CONSTRAINT [PK__PHIEUNHA__C1DD7FB076DF3075] PRIMARY KEY CLUSTERED 
(
	[IDPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 6/20/2024 9:51:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[IDPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[NGAYDUTRU] [date] NULL,
	[TENNHANVIENNHAN] [nvarchar](50) NULL,
	[BOPHANNHAN] [nvarchar](50) NULL,
	[NHANVIENLAPPHIEU] [nvarchar](50) NULL,
 CONSTRAINT [PK__PHIEUXUA__DFEAE0BEED7C5F5A] PRIMARY KEY CLUSTERED 
(
	[IDPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] ON 

INSERT [dbo].[CHITIETPHIEUNHAP] ([IDCHITIETPHIEUNHAP], [IDPHIEUNHAP], [TENSANPHAM], [IDSANPHAM], [DONVITINH], [SOLUONGDUTRU], [SOLUONGTHUCTE]) VALUES (1, NULL, N'sdfsd', 22, N'33', 33, 44)
INSERT [dbo].[CHITIETPHIEUNHAP] ([IDCHITIETPHIEUNHAP], [IDPHIEUNHAP], [TENSANPHAM], [IDSANPHAM], [DONVITINH], [SOLUONGDUTRU], [SOLUONGTHUCTE]) VALUES (2, 2, N'May Tinh', 1, N'chiec', 10, 9)
INSERT [dbo].[CHITIETPHIEUNHAP] ([IDCHITIETPHIEUNHAP], [IDPHIEUNHAP], [TENSANPHAM], [IDSANPHAM], [DONVITINH], [SOLUONGDUTRU], [SOLUONGTHUCTE]) VALUES (3, 3, N'ểtrt', 1, N'3534534', 66, 777)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] OFF
GO
